/*
Colors:

Text: 1A1A1A
Green: #00B172
White: #FFF

*/

@import url('https://fonts.googleapis.com/css?family=Montserrat');


body {
  font-family: 'Montserrat', sans-serif;
}

.header-div {
  /* padding: 15px; */
  
  }
  .spotifyLogo {
    width: 200px;
  }
  
  nav {
    float: right;
  }
  
  nav ul li {
    /* display: flex;
    justify-content: space-between;
    align-items: center;  */
    display: inline-block;
    padding: 10px 15px;
    
  }
  
  .first-section{
    background-image: url(../images/landing.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 600px;
    position: relative;
    color: #FFF;
    text-align: center;
    margin: 0 auto;
  }

  .first-section p {
    font-size: 18px;
    text-align: center;
    /* position: absolute;
    top: 50%;
    transform: translateY(-50%); */
    /* padding: 10px; */
    
  }

  h1 {
      text-align: center;
      font-size: 5em;
      padding-top: 200px;    
  }

  .middle-section {
    display: flex;
    justify-content: space-evenly;
  }

  .middle-section div {
    text-align: center;
    margin: 20px 0px 20px 0px;
    flex: 1;
  }

  h3 {
    color: #00B172;
  }

  .middle-section img {
    width: 125px;
    
  }

  h2 {
    text-align: center;
  }

  .green {
    background-color: #00B172;
    color: #FFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 100px;
    /* margin-bottom: 25px; */
  }

  .spotify-icon {
    /* position: absolute; */
    top: 50%;
    left: 50%;
    width: 50px;
  }

  .gree-app {
    float: right;
  }